.advantages {
  text-align: center;
  overflow-y: hidden;
}

.advantages__header {
  padding-top: 40px;
}

.advantages__header-text {
  margin: 0;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.advantages__wrapper {
  position: relative;
  background-color: #f2f2f2;
}

.advantages__wrapper::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  z-index: 0;
}

.advantages__inner {
  position: relative;
}

.advantages__list {
  position: relative;
  margin: 0;
  padding-top: 85px;
  padding-left: 0;
  padding-bottom: 290px;
  list-style: none;

  &::after {
    content: "";
    position: absolute;
    left: 22%;
    bottom: -49px;
    width: 157px;
    height: 330px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: 157px auto;
    }
  }
}

.advantages__item {
  margin-bottom: 32px;
}

.advantages__title {
  display: block;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.advantages__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.advantages__effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__header {
    min-height: 240px;
    padding-top: 48px;
  }

  .advantages__header-text {
    margin: 0;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
  }

  .advantages__wrapper {
    min-height: 485px;
    background-image: none;
  }

  .advantages__inner {
    min-height: 485px;
  }

  .advantages__list {
    margin: 0;
    padding-top: 74px;
    padding-left: 329px;
    padding-right: 20px;
    padding-bottom: 0;
    text-align: left;

    &::after {
      left: 20px;
      bottom: -120px;
      width: 268px;
      height: 558px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-size: 268px auto;
      }
    }
  }

  .advantages__item {
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .advantages__title {
    margin-bottom: 12px;
  }

  .advantages__effect {
    display: block;
    min-height: 390px;
    padding-bottom: 20px;
  }

  .advantages__effect-container {
    min-height: 390px;
    padding-top: 96px;
    padding-left: 330px;
    background-image: url("../img/icon-time24-tablet.png");
    background-repeat: no-repeat;
    background-position: 22px center;
  }

  .advantages__effect-wrapper {
    text-align: left;
  }

  .advantages__effect-title {
    display: block;
    padding-right: 140px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }

  .advantages__effect-text {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
  }

  .advantages__effect-link {
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
  }
}

@media (min-width: $desktop-width) {
  .advantages__header {
    min-height: 324px;
    padding-top: 67px;
  }

  .advantages__header-text {
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
  }

  .advantages__title {
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__text {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__wrapper {
    position: relative;
    min-height: 628px;
    padding: 0;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 69px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;

    &::after {
      width: auto;
      height: auto;
      background: none;
    }
  }

  .advantages__item {
    position: relative;
    width: 300px;
    margin-bottom: 0;
    padding: 0 30px;
    padding-top: 357px;
  }

  .advantages__item--bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: 300px;
    height: 304px;
    background-repeat: no-repeat;
  }

  .advantages__item--mood::before {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .advantages__item--world::before {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .advantages__item--friends::before {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .advantages__effect {
    min-height: 408px;
    background-color: #f2f2f2;
  }

  .advantages__effect-container {
    padding-top: 90px;
    padding-left: 368px;
    background-image: url("../img/icon-time24-desktop.png");
    background-position: 0 0;
  }

  .advantages__effect-title {
    margin-bottom: 24px;
    padding-right: 0;
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__effect-text {
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__effect-link {
    font-size: 18px;
    line-height: 30px;
  }
}
