.download {
  padding: 28px 20px 32px 20px;
  text-align: center;
  background-color: #1d2631;
}

.download__button {
  margin-bottom: 32px;
}

.download__list {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  list-style: none;
}

.download__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .download {
    width: 320px;
    padding: 0;
    padding-left: 20px;
    min-height: 351px;
    margin-top: -351px;
    background-color: transparent;
  }

  .download__text {
    font-size: 18px;
    line-height: 24px;
  }

  .download__button {
    margin-bottom: 32px;
  }

  .download__list {
    margin-bottom: 39px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    min-height: 404px;
    margin-top: -404px;
  }

  .download__button {
    margin-bottom: 67px;
  }

  .download__list {
    margin-bottom: 56px;
  }
}
