.intro {
  min-height: 733px;
  background-color: #283645;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-position: center 175px, center 0;
  background-repeat: no-repeat;
}

.intro__container {
  display: flex;
  align-items: flex-end;
  width: 320px;
  margin: 0 auto;
  min-height: 733px;
}

.intro__text {
  display: none;
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 729px;
    background-image: url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom, center;
  }

  .intro__container {
    display: block;
    width: 660px;
    padding-top: 208px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .intro__text {
    display: block;
    width: 300px;
    padding: 0 58px;
    margin-bottom: 36px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 853px;
    background-image: url("../img/iphone-hand-desktop@1x.png"),
      url("../img/bg-back-desktop@1x.jpg");
    background-position: bottom, center;
    background-size: auto, cover;
  }

  .intro__container {
    width: 960px;
    padding: 0 10px;
    padding-top: 208px;
  }
}
