.main-nav {
  min-height: 64px;
}

.main-nav__wrapper {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid black;
  background-color: #283645;
}

.main-nav__logo {
  display: block;
  width: 72px;
  height: 22px;
}

.main-nav__logo-image {
  margin-left: -72px;
  margin-top: -17px;
  fill: #ffffff;
}

.main-nav__logo-image-glass {
  display: none;
}

.main-nav__logo-image-inner {
  display: none;
}

.main-nav__logo-image-stars,
.main-nav__logo-image-star {
  display: none;
}

.main-nav__logo[href]:hover .main-nav__logo-image {
  fill: #d22856;
}

.main-nav__logo[href]:active .main-nav__logo-image {
  fill: rgba(255, 255, 255, 0.3);
}

@media (max-width: $mobile-tablet-width-only) {
  .main-nav__list {
    position: relative;
    z-index: 10;
  }

  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav__toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }

  .main-nav--closed .main-nav__wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    box-shadow: 0 9px 0 0 #ffffff, 0 18px 0 0 #ffffff;
  }

  .main-nav--closed .main-nav__toggle:hover::before,
  .main-nav--closed .main-nav__toggle:focus::before {
    background-color: #d22856;
    box-shadow: 0 9px 0 0 #d22856, 0 18px 0 0 #d22856;
  }

  .main-nav--closed .main-nav__toggle:active::before {
    background-color: rgba(210, 40, 86, 0.3);
    box-shadow: 0 9px 0 0 rgba(210, 40, 86, 0.3), 0 18px 0 0 rgba(210, 40, 86, 0.3);
  }

  .main-nav--opened .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 21px;
      width: 36px;
      height: 5px;
      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--opened .main-nav__toggle:hover::before,
  .main-nav--opened .main-nav__toggle:focus::before,
  .main-nav--opened .main-nav__toggle:hover::after,
  .main-nav--opened .main-nav__toggle:focus::after {
    background-color: #d22856;
  }

  .main-nav--opened .main-nav__toggle:active::before,
  .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(210, 40, 86, 0.3);
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    padding: 27px 20px 60px 0;
  }

  .main-nav__toggle {
    top: 44px;
  }

  .main-nav__logo-image {
    width: 147px;
    height: 40px;
    margin: 0;
  }

  .main-nav__logo-image-glass {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    width: 960px;
    //Временная высота
    min-height: 110px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .main-nav__wrapper {
    border: none;
    background-color: transparent;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo-image-glass {
    display: none;
  }

  .main-nav__logo-image-inner {
    display: block;
  }

  .main-nav__logo-image-stars,
  .main-nav__logo-image-star {
    display: block;
    fill: #d22856;
  }

  .main-nav__logo[href]:hover .main-nav__logo-image-stars,
  .main-nav__logo[href]:hover .main-nav__logo-image-star {
    fill: #ffffff;
  }
}
