.page-footer {
  padding-top: 54px;
  padding-bottom: 40px;
  text-align: center;
}

.page-footer-index {
  display: none;
}

.page-footer__logo-link {
  display: block;
  margin-bottom: 34px;
}

.page-footer__logo__image {
  width: 147px;
  height: 40px;
  fill: #283645;
}

.page-footer__logo-link[href]:hover .page-footer__logo__image,
.page-footer__logo-link[href]:focus .page-footer__logo__image {
  fill: #d22856;
}

.page-footer__logo-link[href]:active .page-footer__logo-image-pink {
  fill: rgba(40, 54, 69, 0.3);
}

.page-footer__logo-link[href]:active .page-footer__logo-image-glass,
.page-footer__logo-link[href]:active .page-footer__logo-image-inner {
  fill: rgba(210, 40, 86, 0.3);
}

.page-footer__logo-link[href]:active .page-footer__logo-image-star,
.page-footer__logo-link[href]:active .page-footer__logo-image-stars {
  fill: rgba(210, 40, 86, 0.3);
}

.page-footer__logo-image-glass {
  fill: #d22856;
}

.page-footer__logo-image-inner {
  display: none;
}

.page-footer__logo-image-stars {
  display: none;
}

.page-footer__logo-image-star {
  display: none;
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.page-footer__item {
  margin-right: 13px;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: rgba(0, 0, 0, 1);
  }

  &:active {
    border-color: rgba(0, 0, 0, 0.1);
  }
}

.page-footer__link svg {
  fill: #d22856;
}

.page-footer__link:active svg {
  fill: rgba(210, 40, 86, 0.3);
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 30px;
  }

  .page-footer-index {
    display: block;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .page-footer__logo-link {
    margin-bottom: 0;
  }

  .page-footer__list {
    margin-bottom: 0;
  }

  .page-footer__item {
    margin-right: 15px;
  }

  .page-footer__copyright {
    width: 150px;
    padding-left: 28px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 95px;
  }

  .page-footer__wrapper {
    padding: 0;
  }

  .page-footer__logo-image-glass {
    display: none;
  }

  .page-footer__logo-image-inner {
    display: block;
    fill: #d22856;
  }

  .page-footer__logo-image-stars {
    display: block;
  }

  .page-footer__logo-image-star {
    display: block;
    fill: #d22856;
  }

  .page-footer__copyright {
    padding-left: 4px;
  }
}
