.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.page-footer-index {
  display: none;
}

.page-footer__logo-link {
  display: block;
  margin-bottom: 40px;
}

.page-footer__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .page-footer-index {
    display: block;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
