.page-header__promo {
  min-height: 462px;
  background-color: #283645;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom left, 0 0;
  background-repeat: no-repeat;
}

.page-header__image {
  min-height: 237px;
  padding: 99px 20px 33px 20px;
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__title {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #ffffff;
}
