.page-header {
  position: relative;
  overflow-x: hidden;
  z-index: 1000;
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
