.page-footer {
  padding: 40px 20px;
}

.page-footer-index {
  display: none;
}

.page-footer__logo-link {
  display: block;
  margin-bottom: 40px;
}

.page-footer__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .page-footer-index {
    display: block;
  }

  .page-footer {
    width: 660px;
    margin: 0 auto;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: auto;
    margin: 0;
  }

  .page-footer__container {
    width: 960px;
    margin: 0 auto;
  }
}
