.place__header {
  padding-top: 44px;
  padding-bottom: 41px;
  text-align: center;
}

.place__title {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

.place__filters {
  padding-top: 20px;
  background-color: #f2f2f2;
}

.place__image-wrapper {
  margin-bottom: 42px;
}

.place__image {
  display: block;
  width: 100%;
  height: 100%;
}

.place__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 29px;
  padding: 0 46px 0 30px;
  list-style: none;
}

.place__filter-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.place__filter-button svg {
  fill: rgba(40, 54, 69, 0.3);

  &:hover,
  &:focus {
    fill: rgba(40, 54, 69, 0.5);
  }
}

.place__filter-button--active svg {
  fill: #d22856;

  &:hover,
  &:focus {
    fill: #d22856;
  }
}

.place__scale {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
  border-bottom: 1px solid #e5e5e5;
}

.place__bar {
  position: relative;
  width: 240px;
  height: 2px;
  background-color: #283645;
}

.place__toggle {
  position: absolute;
  left: 80%;
  top: -6px;
  width: 14px;
  height: 14px;
  border: 2px solid #d22856;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.place__toggle--active {
  background-color: #d22856;
}

.place__scale--small {
  display: none;
}

.place__buttons {
  display: flex;
  flex-direction: column;
  padding: 35px 0;
}

.place__button {
  padding: 17px 5px;
  margin-bottom: 10px;

  &:last-child {
    margin: 0;
  }
}

.place__button--post {
  color: #d22856;
  border-color: #d22856;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #d22856;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.place__button--cancel {
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);

  &:hover,
  &:focus {
    color: rgba(40, 54, 69, 0.3);
    border-color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.3);
    border-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .place__header {
    padding-bottom: 70px;
  }

  .place__title {
    font-size: 18px;
    line-height: 30px;
  }

  .place__image-wrapper {
    width: 300px;
    margin: 0;
    padding: 0;
  }

  .place__container {
    display: flex;
    justify-content: space-between;
    width: 660px;
    margin: 0 auto;
    padding: 37px 20px 53px 20px;
  }

  .place__wrapper {
    width: 300px;
    padding-top: 8px;
    padding-left: 30px;
  }

  .place__list {
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-bottom: 65px;
    border: none;
  }

  .place__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    margin-bottom: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .place__filter-button {
    width: 52px;
    text-align: left;
    cursor: auto;
  }

  .place__filter-button svg {
    width: 24px;
    height: 24px;
    fill: #d22856;

    &:hover,
    &:focus,
    &:active {
      fill: #d22856;
    }
  }

  .place__filter-button--contrast svg {
    width: 16px;
    height: 16px;
  }

  .place__scale--large {
    display: none;
  }

  .place__scale--small {
    display: block;
    padding-bottom: 0;
    border: none;
  }

  .place__scale--small .place__bar {
    width: 202px;
  }

  .place__toggle--crop {
    left: 72%;
  }

  .place__toggle--fill {
    left: 11%;
  }


  .place__toggle--contrast {
    left: 47%;
  }

  .place__buttons {
    padding: 0;
  }

  .place__button {
    width: 255px;
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .place__header {
    padding-top: 56px;
  }

  .place__wrapper {
    display: flex;
    flex-direction: column;
    width: 410px;
    padding-left: 0;
    padding-top: 0;
  }

  .place__filters {
    padding: 0 42px 0 58px;
    margin-bottom: 30px;
  }

  .place__container {
    width: auto;
    margin: 0;
    padding-top: 55px;
  }

  .place__item {
    height: 58px;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .place__filter-button {
    width: 92px;
  }

  .place__filter-button svg {
    width: 48px;
    height: 48px;
  }

  .place__filter-button--contrast {
    padding-left: 7px;
  }

  .place__filter-button--contrast svg {
    width: 32px;
    height: 32px;
  }

  .place__scale--small .place__bar {
    width: 288px;
  }

  .place__toggle--crop {
    left: 25%;
  }

  .place__toggle--fill {
    left: 86%;
  }


  .place__toggle--contrast {
    left: 56%;
  }

  .place__buttons {
    flex-direction: row;
    margin-top: auto;
  }

  .place__button {
    width: 183px;
    margin-bottom: 0;
    margin-right: 44px;
  }
}
