.rates {
  position: relative;
  height: 470px;
  padding-top: 90px;
  background-color: #f2f2f2;
}

.rates__table {
  display: flex;
  margin-bottom: 33px;
}

.rates__wrapper {
  overflow-x: hidden;
}

.rates::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

.rates__col {
  flex-shrink: 0;
  width: 280px;
}

.rates__col--large {
  display: none;
}

.rates__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 98px;
  color: #ffffff;
  background-color: #283645;
  border-right: 2px solid #e5e5e5;
  text-transform: uppercase;
  text-align: center;
}

.rates__header-hit {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 74px;
  height: 73px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
}

.rates__header-hit-text {
  position: absolute;
  top: 11px;
  left: 11px;
  content: "";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  transform: rotate(-45deg);
}

.rates__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.rates__price {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.rates__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: 2px solid #e5e5e5;
  border-top: 2px solid #e5e5e5;
}

.rates__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px 0 24px;
  border-bottom: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.rates__option {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.rates__toggles {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .rates {
    height: 377px;
    padding-top: 90px;
  }

  .rates__wrapper {
    padding: 0 20px;
  }

  .rates__col {
    width: 155px;
  }

  .rates__col--large {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .rates__header {
    min-height: 79px;
  }

  .rates__header-hit {
    background-image: url("../img/bg-hit-tablet.svg");
  }

  .rates__header-hit-text {
    top: 5px;
    left: 6px;
  }

  .rates__header--hit::after {
    top: 4px;
    left: 6px;
  }

  .rates__title {
    font-size: 16px;
  }

  .rates__price {
    font-size: 18px;
  }

  .rates__list--large {
    border-left: 2px solid #e5e5e5;
  }

  .rates__item {
    justify-content: center;
    min-height: 46px;
    padding: 0 10px 0 17px;
  }

  .rates__item--large {
    justify-content: flex-start;
  }

  .rates__option {
    display: none;
  }

  .rates__option--large {
    display: inline;
    text-transform: none;
  }

  .rates__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .rates {
    height: 525px;
    padding-top: 146px;
  }

  .rates__wrapper {
    padding: 0;
  }

  .rates__col {
    width: 235px;
  }

  .rates__header {
    min-height: 98px;
  }

  .rates__header--hit::before {
    background-image: url("../img/bg-hit.svg");
  }

  .rates__header--hit::after {
    top: 11px;
    left: 11px;
  }

  .rates__title {
    font-size: 18px;
  }

  .rates__price {
    font-size: 24px;
  }

  .rates__item {
    min-height: 60px;
  }

  .rates__option {
    font-size: 18px;
  }
}
