.reviews {
  padding-top: 41px;
  padding-bottom: 36px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.reviews__item {
  margin-bottom: 24px;
}

.reviews__author-info {
  display: none;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

.reviews__author-name {
  display: block;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.reviews__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

.reviews__toggles {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 23px;
    padding-bottom: 18px;
  }

  .reviews__author-info {
    display: block;
    font-size: 14px;
    line-height: 30px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__item-wrapper {
    order: 2;
  }

  .reviews__text {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__author-name {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 185px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center 70px;
  }

  .reviews__list {
    padding: 0 74px;
  }

  .reviews__author-name {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__author-info {
    font-size: 18px;
    line-height: 30px;
  }
}
