.reviews {
  padding-top: 44px;
  padding-bottom: 44px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.reviews__item {
  margin-bottom: 30px;
}

.reviews__author-info {
  display: none;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

.reviews__author-name {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.reviews__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .reviews__author-info {
    display: block;
    font-size: 14px;
    line-height: 30px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__item-wrapper {
    order: 2;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__author-name {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__author-name {
    font-size: 24px;
    line-height: 30px;
  }
}
